<div class="row p-5">
  <!-- widget-statistic start -->
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="widget-statstic-card card-border-c-yellow">
      <div class="card-header-left mb-3">
        <h5 class="mb-0">Statistics</h5>
        <p class="p-t-10 m-b-0 text-c-yellow">Compared to last week</p>
      </div>
      <i class="feather icon-sliders st-icon bg-c-yellow"></i>
      <div class="text-left">
        <h3 class="d-inline-block">5,456</h3>
        <i class="feather icon-arrow-up f-30 text-c-green"></i>
        <span class="float-right bg-c-yellow">23%</span>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="widget-statstic-card card-border-c-red">
      <div class="card-header-left mb-3">
        <h5 class="mb-0">Unique Visitor</h5>
        <p class="p-t-10 m-b-0 text-c-red">55% From last 28 hours</p>
      </div>
      <i class="feather icon-users st-icon bg-c-red txt-lite-color"></i>
      <div class="text-left">
        <h3 class="d-inline-block">3,874</h3>
        <i class="feather icon-arrow-down text-c-red f-30 "></i>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="widget-statstic-card card-border-c-blue">
      <div class="card-header-left mb-3">
        <h5 class="mb-0">New Orders</h5>
        <p class="p-t-10 m-b-0 text-c-blue">54% From last month</p>
      </div>
      <i class="feather icon-shopping-cart st-icon bg-c-blue"></i>
      <div class="text-left">
        <h3 class="d-inline-block">5,456</h3>
        <i class="feather icon-arrow-up text-c-green f-30 "></i>
      </div>
    </app-card>
  </div>
  <!-- widget-statistic end -->

  <!-- real-time data of visits start -->
  <div class="col-xl-8 col-md-12">
    <app-card cardTitle="Real-time Data of Visits" [options]="false">
      <div class="row my-2">
        <div class="col-auto">
          <h4 class="m-0">563,756<i class="feather icon-arrow-up text-c-green"></i></h4>
          <span>Visits per Day</span>
        </div>
        <div class="col-auto">
          <h4 class="m-0">78,569<i class="feather icon-arrow-down text-c-red"></i></h4>
          <span>Total Visitors</span>
        </div>
        <div class="col">
          <h4 class="m-0">40.05%<i class="feather icon-arrow-up text-c-green"></i></h4>
          <span>Bounce Rate</span>
        </div>
      </div>
      <app-apex-chart chartID="chart-apex-site-visitor" [chartConfig]="this.siteVisitorCAC" [newData]="this.data"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true">
      <h3>20500</h3>
      <p class="text-muted">Site Analysis</p>
      <app-apex-chart chartID="seo-analytics-1" [chartConfig]="this.seoAnalyticsChartData"></app-apex-chart>
    </app-card>
    <app-card [hidHeader]="true" cardClass="bg-c-blue text-white widget-visitor-card" blockClass="text-center">
      <h2 class="text-white">5,678</h2>
      <h6 class="text-white">Daily visitor</h6>
      <i class="feather icon-file-text"></i>
    </app-card>
    <app-card [hidHeader]="true" cardClass="bg-c-yellow text-white widget-visitor-card" blockClass="text-center">
      <h2 class="text-white">5,678</h2>
      <h6 class="text-white">Last month visitor</h6>
      <i class="feather icon-award"></i>
    </app-card>
  </div>
  <!-- real-time data of visits end -->

  <!-- traffic-section start -->
  <div class="col-lg-6">
    <app-card cardTitle="Marketing campaign" [options]="false">
      <app-apex-chart chartID="traffic-chart-1" [chartConfig]="this.trafficChartData"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>$16,756</h3>
          <h6 class="text-muted m-b-0">Visits<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-1" [chartConfig]="this.seoChartData1"></app-apex-chart>
        </div>
      </div>
    </app-card>
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>49.54%</h3>
          <h6 class="text-muted m-b-0">Bounce Rate<i class="fa fa-caret-up text-c-green m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-2" [chartConfig]="this.seoChartData2"></app-apex-chart>
        </div>
      </div>
    </app-card>
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>1,62,564</h3>
          <h6 class="text-muted m-b-0">Products<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-3" [chartConfig]="this.seoChartData3"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <!-- traffic-section end -->
</div>
