<div class="card card-noborder">
    <div class="card-header">
      <div class="row">
        <div class="col-md-2">
          <h4>
            {{ updateId ? 'Update' : 'Add'}} Unit
            </h4>
        </div>
        <div class="col-md-10 text-right">
  
        </div>
      </div>
  
  
    </div>
    <div class="card-body card-section">
      <form [formGroup]="form" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2">Code</label>
                    <input type="text" class="form-control col-sm-4" formControlName="code"
                    [ngClass]="{'is-invalid': !f.name.valid && (f.code.dirty || f.code.touched || isSubmit)}">
                     
  
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2">Name</label>
                    <input type="text" class="form-control col-sm-4" formControlName="name"
                      [ngClass]="{'is-invalid': !f.name.valid && (f.name.dirty || f.name.touched || isSubmit)}">
  
  
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2">Active</label>
                    <input type="checkbox" formControlName="active">
  
                  </div>
                 
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" (click)="save();">Save</button>&nbsp;
      <button class="btn btn-sm btn-secondary" routerLink="/admin/masters/units">Cancel</button>
    </div>
  </div>