<!-- <input type="text" 
[value]="value"
(blur)="onTouched()" 
(input)="onChange($event.target.value)"
 class="form-control" [disabled]="disabled"> -->
<div class="form-group row">
    <label class="col-form-label col-sm-3">Customer</label>
    <input type="text" [id]="formField" [name]="formField" [value]="value" (blur)="onTouched()"
        (input)="onChanged($event)" class="form-control col-sm-6" [disabled]="disabled"
        [ngClass]="{'is-invalid': !formField?.valid && (formField?.dirty || formField?.touched || isSubmit)}">
</div>