<div class="row btn-page">
    <div class="col-sm-12">
        <app-card cardTitle="Orders" [options]="false">

            <div class="row customCardActions">
                <div class="col-sm-3">
                    Start Date :
                    <input type="date" [(ngModel)]="StartDate">
                </div>
                <div class="col-sm-3">
                    End Date :
                    <input type="date" [(ngModel)]="EndDate">
                </div>
                <div class="col-sm-6 text-left">
                    <button class="btn btn-success btn-sm btn-round has-ripple" (click)="Search()">
                        Search
                    </button>
                </div>
            </div>
            <div class="table-responsive p-t-20">
                <table datatable id="project-1" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Service Name</th>

                            <th>Name</th>
                            <!-- <th>Mobile</th>
                            <th>Email</th> -->
                            <th>Amount</th>
                            <th>Tax</th>
                            <!-- <th>Discount</th> -->
                            <th>Total Amount</th>
                            <th></th>
                            <!-- <th>Status</th> -->
                            <!-- <th>pg_resCode</th>
                            <th>pg_resStatus</th>
                            <th>pg_resMessage</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="has-row-options odd" role="row" *ngFor="let d of rows">
                            <td>{{d.orderNumber}}</td>
                            <td>{{d.order_date | date :'dd/MM/yyyy hh:mm:ss a'}}</td>
                            <td>{{d.serviceName}}</td>

                            <td>{{d.name}}</td>
                            <!-- <td>{{d.mobile}}</td>
                            <td>{{d.emailId}}</td> -->
                            <td>{{d.amount}}</td>
                            <td>{{d.tax}}</td>
                            <!-- <td>{{d.discount}}</td> -->
                            <td>{{d.net_amount}}</td>
                            <td>
                                <a (click)="openModalViewDoc(viewDocModal,d)">View</a>
                            </td>
                            <!-- <td>{{d.status}}</td> -->
                            <!-- <td>{{d.pg_resCode}}</td>
                            <td>{{d.pg_resStatus}}</td>
                            <td>{{d.pg_resMessage}}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

        </app-card>
    </div>
</div>
<ng-template #viewDocModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">
            View Uploaded Documents
        </h5>
        <button type="button" class="btn btn-sm bg-transparent" (click)="closeModal()"><i
                class="fas fa-times"></i></button>
    </div>
    <div class="modal-body">
        <div class="col-md-12 mt-2" style="margin-bottom: 4px;">
            <div class="col-md-12" *ngIf="lstViewDoc?.length==0">
                No document upload
            </div>
            <table *ngIf="lstViewDoc?.length>0">
                <thead>
                    <tr>
                        <th style="width: 50px;">S.No</th>
                        <th>Document</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lst of lstViewDoc; let i=index;">
                        <td>{{i+1}}</td>
                        <td>
                            <a href="{{DownloadPath}}/{{SelectedUserId}}/{{SelectedOrderId}}/{{lst}}"
                                target="_blank">{{lst}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
    </div>
</ng-template>