<div class="card card-noborder">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        <h4>
          {{ updateId ? 'Update' : 'Add'}} Location
          </h4>
      </div>
      <div class="col-md-10 text-right">

      </div>
    </div>


  </div>
  <div class="card-body">
    <form [formGroup]="form" class="editForm" novalidate>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-form-label col-sm-2">Company</label>
                 
                    <select class="form-control  col-sm-4" formControlName="companyId"
                    [ngClass]="{'is-invalid': !f.companyId.valid && (f.companyId.dirty || f.companyId.touched || isSubmit)}">
                        <option *ngFor="let d of companies" value="{{d.id}}">{{d.name}}</option>
                    </select>
                    

                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2">Name</label>
                  <input type="text" class="form-control col-sm-4" formControlName="name"
                    [ngClass]="{'is-invalid': !f.name.valid && (f.name.dirty || f.name.touched || isSubmit)}">


                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2">Address-1</label>
                  <input type="text" class="form-control col-sm-4" formControlName="address1">

                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2">Address-2</label>
                  <input type="text" class="form-control col-sm-4" formControlName="address2">

                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2">City</label>
                  <input type="text" class="form-control col-sm-4" formControlName="city"
                    [ngClass]="{'is-invalid': !f.city.valid && (f.city.dirty || f.city.touched || isSubmit)}">

                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2">Phone</label>
                  <input type="text" class="form-control col-sm-4" formControlName="phone"
                    [ngClass]="{'is-invalid': !f.phone.valid && (f.phone.dirty || f.phone.touched || isSubmit)}">

                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2">Email</label>
                  <input type="text" class="form-control col-sm-4" formControlName="email"
                    [ngClass]="{'is-invalid': !f.email.valid && (f.email.dirty || f.email.touched || isSubmit)}">

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-primary" (click)="save();">Save</button>&nbsp;
    <button class="btn btn-sm btn-secondary" routerLink="/admin/masters/locations">Cancel</button>
  </div>
</div>