<div class="card">
    <div class="card-header">
        <h4>New Invoice</h4>
    </div>
    <div class="card-body pt-0">
        <!-- {{this.form.value["units"]| json}} -->
        <form [formGroup]="form" class="editForm" novalidate>
            <div class="row pt-3 card-section">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6">
                            <!-- <app-autocomplete2 [parentForm]="form" fieldName="customer" formControlName="customer" [isSubmit]="isSubmit">

                            </app-autocomplete2> -->

                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Customer</label>
                                <div class="col-sm-6">
                                    <app-autocomplete3 [data]="listCustomer"
                                        (selectedItemEvent)="SelelectedCustomer($event)"></app-autocomplete3>
                                </div>
                                <!-- <input type="text" class="form-control col-sm-6" formControlName="customer"
                                    [ngClass]="{'is-invalid': !f.customer.valid && (f.customer.dirty || f.customer.touched || isSubmit)}"> -->
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Invoice #</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" formControlName="invioceNo"
                                        [ngClass]="{'is-invalid': !f.invioceNo.valid && (f.invioceNo.dirty || f.invioceNo.touched || isSubmit)}" />

                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Date</label>
                                <div class="col-sm-6">
                                    <div class="input-group" >
                                        <input class="form-control"    readonly
                                            [ngClass]="{'is-invalid': !f.invioceDate.valid && (f.invioceDate.dirty || f.invioceDate.touched || isSubmit)}"
                                            placeholder="dd-mm-yyyy" formControlName="invioceDate" name="d"
                                            ngbDatepicker #d="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                                type="button"></button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Ref. By</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" formControlName="refBy"
                                        [ngClass]="{'is-invalid': !f.refBy.valid && (f.refBy.dirty || f.refBy.touched || isSubmit)}">
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Address</label>
                                <div class="col-sm-6">
                                <input type="text" class="form-control" formControlName="address"
                                    [ngClass]="{'is-invalid': !f.address.valid && (f.address.dirty || f.address.touched || isSubmit)}">
                            </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Mobile No.</label>
                                <div class="col-sm-6">
                                <input type="text" class="form-control" formControlName="mobileNo" maxlength="12" mask="000-000-0000"
                                    [ngClass]="{'is-invalid': !f.mobileNo.valid && (f.mobileNo.dirty || f.mobileNo.touched || isSubmit)}">
                            </div>
                            </div>
                            <!-- <div class="form-group row">
                                <label class="col-form-label col-sm-3">Item Search</label>
                                <app-autocomplete3 [data]="listItem" [parentForm]="form" ></app-autocomplete3>
                            </div> -->
                            <!-- <div class="form-group row">
                                <label class="col-form-label col-sm-3">Patient Name</label>
                                <input type="text" class="form-control col-sm-6" formControlName="patientName"
                                    [ngClass]="{'is-invalid': !f.patientName.valid && (f.patientName.dirty || f.patientName.touched || isSubmit)}">
                            </div> -->
                            <!-- <div class="form-group row">
                                <label class="col-form-label col-sm-3">Doctor Name</label>
                                <input type="text" class="form-control col-sm-6" formControlName="doctorName"
                                    [ngClass]="{'is-invalid': !f.doctorName.valid && (f.doctorName.dirty || f.doctorName.touched || isSubmit)}">
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- Start form units array with first row must and dynamically add more -->
            <div class="" formArrayName="units">
                <!-- <h4>Item list</h4> -->
                <div class="table-responsive ">
                    <table datatable class="table nowrap table-hover">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Discount</th>
                                <th>Tax Rate</th>
                                <th>Tax Amount</th>
                                <th>Amount</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let unit of unitList.controls; let i=index" [formGroupName]="i">
                                <td>
                                    <div class="form-group">
                                        <!-- [searchKeyword]="keyword" -->
                                        <div class="ng-autocomplete " style="height: 34px !important;">
                                            <ng-autocomplete [data]="itemList" [searchKeyword]="keyword"
                                                placeHolder="Search item" formControlName="unitName"
                                                (selected)='selectItemEvent($event, i)'
                                                (inputChanged)='onItemChangeSearch($event)'
                                                (inputFocused)='onItemFocused($event)' [itemTemplate]="itemTemplate"
                                                [notFoundTemplate]="notFoundItemTemplate" minQueryLength="3"
                                                [debounceTime]="100">
                                            </ng-autocomplete>
                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item.name"></a>
                                            </ng-template>
                                            <ng-template #notFoundItemTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>
                                        <div *ngIf="unit.controls.unitName.invalid"
                                            style="color: #dc3545; margin-top: 1px;">
                                            <div
                                                *ngIf="!unit.controls.unitName.valid && (unit.controls.unitName.dirty || unit.controls.unitName.touched || isSubmit)">

                                                Required
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <input placeholder="Unit name" formControlName="unitName" required>
                                    <div *ngIf="unit.controls.unitName.invalid">
                                        Unit name is required.
                                    </div> -->
                                </td>
                                <td> <input placeholder="Quantity" type="number" class="form-control"
                                        formControlName="qty"
                                        [ngClass]="{'is-invalid': !unit.controls.qty.valid && (unit.controls.qty.dirty || unit.controls.qty.touched || isSubmit)}">
                                    <!-- <div *ngIf="unit.controls.qty.invalid">
                                        Quantity is required.
                                    </div> -->

                                </td>
                                <td>
                                    <input placeholder="Rate" type="number" class="form-control"
                                        formControlName="unitPrice" required>

                                </td>
                                <td>
                                    <input placeholder="Discount" class="form-control" formControlName="discount">

                                </td>
                                <td> <input placeholder="tax rate" class="form-control" formControlName="taxRate"></td>
                                <td><input placeholder="tax amount" class="form-control" formControlName="taxAmount">
                                </td>
                                <td>
                                    <input placeholder="Total sum" class="form-control"   formControlName="unitTotalPrice">
                                </td>

                                <td>
                                    <button type="button" title="delete" *ngIf="unitList.controls.length > 1"
                                        (click)="removeUnit(i)">
                                        X
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">   <button type="button" *ngIf="unitList.controls.length >=1" (click)="addUnit()">
                                 Add more item
                                </button></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total Tax {{ totalTaxSum | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                                <td> Total {{ totalSum | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                                <td></td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>


        </form>
    </div>
    <div class="card-footer">

        <button type="submit" class="btn btn-sm btn-primary" (click)="add();">Save</button>&nbsp;
        <button class="btn btn-sm btn-secondary" routerLink="../">Cancel</button>
        
    </div>
</div>