<div class="row btn-page">
  <div class="col-sm-12">
    <app-card cardTitle="Manage Users and Roles" [options]="false">
        <div class="col-sm-6 text-right customCardActions">
          <button *ngIf="activeTab===1" class="btn btn-success btn-sm btn-round has-ripple" (click)="openModal(userModal)"><i class="feather icon-plus"></i> 
          Add User
          </button>
          <button *ngIf="activeTab===2" class="btn btn-success btn-sm btn-round has-ripple" (click)="openModal(roleModal)"><i class="feather icon-plus"></i> 
          Add Role
          </button>
        </div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs" (navChange)="onNavChange($event)">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Users</a>
            <ng-template ngbNavContent>
                <div class="table-responsive p-t-20">
                      <table datatable id="project-1" class="table table-striped table-hover">
                        <thead>
                        <tr>
                          <th>Full Name</th>
                          <th>User Name</th>
                          <th>Role</th>
                          <th>Mobile</th>
                          <th>Email</th>
                          <th>Status</th>
                          <th width="10">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="has-row-options odd" role="row"  *ngFor="let d of rows">
                          <td>{{d.fullName}}</td>
                          <td>{{d.loginName}}</td>
                          <td>{{d.roleName}}</td>
                          <td>{{d.mobile}}</td>
                          <td>{{d.email}}</td>
                          <td>
                            <span class="badge badge-success inline-block" *ngIf="d.active===1">
                            Active
                            </span>
                            <span class="badge badge-danger inline-block" *ngIf="d.active===0">
                            InActive
                            </span>
                          </td>
                          <td>
                            <button class="btn btn-sm bg-transparent">
                            <i class="fas fa-trash-alt"></i>
                            </button>
                            <button class="btn btn-sm bg-transparent" (click)="edit(d,'user',userModal);">
                            <i class="fas fa-edit"></i>
                            </button> 
                          </td>
                          
                        </tr>
                        </tbody>
                      </table>
                    </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Roles</a>
            <ng-template ngbNavContent>
               <div class="table-responsive p-t-20">
                      <table datatable id="project-1" class="table table-striped table-hover">
                        <thead>
                        <tr>
                          <th>Role</th>
                          <th>Description</th>
                          <th>Users</th>
                          <th>Status</th>
                          <th width="10">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="has-row-options odd" role="row"  *ngFor="let d of roles">
                          <td>{{d?.name}}</td>
                          <td>{{d?.description}}</td>
                          <td>
                            <span *ngIf="d.users && d.users > 0">{{d?.users}}</span>
                            <span *ngIf="!d.users || d.users <=0">-</span>
                          </td>
                          <td>
                            <span class="badge badge-success inline-block" *ngIf="d.active===1">
                            Active
                            </span>
                            <span class="badge badge-danger inline-block" *ngIf="d.active===0">
                            InActive
                            </span>
                          </td>
                          <td>
                            <button class="btn btn-sm bg-transparent">
                            <i class="fas fa-trash-alt"></i>
                            </button>
                            <button class="btn btn-sm bg-transparent" (click)="edit(d,'role',roleModal);">
                            <i class="fas fa-edit"></i>
                            </button> 
                          </td>
                          
                        </tr>
                        </tbody>
                      </table>
                </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </app-card>
  </div>
</div>
<ng-template #userModal let-c="close" let-d="dismiss">
<div class="modal-header">
  <h5 class="modal-title">
  <span *ngIf="activeTab===1 && !updateId">Add User</span>
  <span *ngIf="activeTab===1 && updateId">Update User</span>
  <span *ngIf="activeTab===2">Add Role</span>
  </h5>
  <button type="button" class="btn btn-sm bg-transparent" (click)="closeModal()"><i class="fas fa-times"></i></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" class="editForm" novalidate>
        <div class="row card-section p-t-20 p-b-20" >
          <div class="col-md-5 m-l-5">
              <div class="form-group row">
                  <label class="col-form-label col-md-3">Full Name</label>
                  <input type="text" class="form-control col-md-9" formControlName="fullName"
                  [ngClass]="{'is-invalid': !f.fullName.valid && (f.fullName.dirty || f.fullName.touched || isSubmit)}">
              </div>
              <div class="form-group row">
                  <label class="col-form-label col-md-3">User Name</label>
                  <input type="text" class="form-control col-md-9" formControlName="loginName"
                  [ngClass]="{'is-invalid': !f.loginName.valid && (f.loginName.dirty || f.loginName.touched || isSubmit)}">
              </div>
              <div class="form-group row">
                  <label class="col-form-label col-md-3">Email</label>
                  <input type="email" class="form-control col-md-9" formControlName="email"
                  [ngClass]="{'is-invalid': !f.email.valid && (f.email.dirty || f.email.touched || isSubmit)}">
              </div>
              <div class="form-group row">
                  <label class="col-form-label col-md-3">Mobile</label>
                  <input type="text" class="form-control col-md-9" formControlName="mobile"
                  [ngClass]="{'is-invalid': !f.mobile.valid && (f.mobile.dirty || f.mobile.touched || isSubmit)}">
              </div>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5 mr-1">
             <div class="form-group row">
                  <label class="col-form-label col-md-3">Role</label>
                    <select class="form-control  col-md-9" formControlName="roleId">
                        <option *ngFor="let d of roles" value="{{d.id}}">{{d.name}}</option>
                    </select>
              </div>
               <div class="form-group row">
                  <label class="col-form-label col-md-3">Location</label>
                    <select class="form-control  col-md-9" formControlName="locationId">
                        <option *ngFor="let d of locations" value="{{d.id}}">{{d.name}}</option>
                    </select>
              </div>
               <div class="form-group row">
                  <label class="col-form-label col-md-3">Status</label>
                    <select class="form-control col-md-9" formControlName="active">
                        <option value="1">Active</option>
                        <option value="0">InActive</option>
                    </select>
              </div>
          </div>
        </div>
    
    </form>
</div>
<div class="modal-footer">
      <button class="btn btn-sm btn-primary" (click)="save();" [disabled]="saving">Save</button>&nbsp;
      <button class="btn btn-sm btn-secondary"data-dismiss="modal" (click)="closeModal()" [disabled]="saving">Cancel</button>
</div>
</ng-template>
<ng-template #roleModal let-c="close" let-d="dismiss">
<div class="modal-header">
  <h5 class="modal-title">
  <span *ngIf="activeTab===1 && !updateId">Add User</span>
  <span *ngIf="activeTab===1 && updateId">Update User</span>
  <span *ngIf="activeTab===2">Add Role</span>
  </h5>
  <button type="button" class="btn btn-sm bg-transparent" (click)="closeModal()"><i class="fas fa-times"></i></button>
</div>
<div class="modal-body">
    <form [formGroup]="roleForm" class="editForm" novalidate>
        <div class="row card-section p-t-20 p-b-20" >
          <div class="col-md-5 m-l-5">
              <div class="form-group row">
                  <label class="col-form-label col-md-3">Role</label>
                  <input type="text" class="form-control col-md-9" formControlName="name"
                  [ngClass]="{'is-invalid': !roleF.name.valid && (roleF.name.dirty || roleF.name.touched || isRoleSubmit)}">
              </div>
              <div class="form-group row">
                  <label class="col-form-label col-md-3">Description</label>
                  <textarea class="form-control col-md-9" formControlName="description"
                  [ngClass]="{'is-invalid': !roleF.description.valid && (roleF.description.dirty || roleF.description.touched || isRoleSubmit)}"></textarea>
              </div>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5 mr-1">
               <div class="form-group row">
                  <label class="col-form-label col-md-3">Status</label>
                    <select class="form-control col-md-9" formControlName="active">
                        <option value="1">Active</option>
                        <option value="0">InActive</option>
                    </select>
              </div>
          </div>
        </div>
    
    </form>
</div>
<div class="modal-footer">
      <button class="btn btn-sm btn-primary" (click)="saveRole();" [disabled]="saving">Save</button>&nbsp;
      <button class="btn btn-sm btn-secondary"data-dismiss="modal" (click)="closeModal()" [disabled]="saving">Cancel</button>
</div>
</ng-template>