<div class="card card-noborder">
    <div class="card-header">
      <div class="row">
        <div class="col-md-2">
          <h4>Items</h4>
        </div>
        <div class="col-md-10 text-right">
  
        </div>
      </div>
  
  
    </div>
    <div class="card-body">
      <form [formGroup]="form" class="editForm" novalidate>
          <div class="row card-section" >
            <div class="col-md-8 pt-2 pb-2">
                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Item</label>
                   
                      <select class="form-control  col-sm-4" formControlName="itemId"
                      [ngClass]="{'is-invalid': !f.itemId.valid && (f.itemId.dirty || f.itemId.touched || isSubmit)}">
                          <option *ngFor="let d of items" value="{{d.id}}">{{d.name}}</option>
                      </select>
                      
  
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2">Location</label>
                   
                      <select class="form-control  col-sm-4" formControlName="locationId"
                      [ngClass]="{'is-invalid': !f.locationId.valid && (f.locationId.dirty || f.locationId.touched || isSubmit)}">
                          <option *ngFor="let d of locations" value="{{d.id}}">{{d.name}}</option>
                      </select>
                      
  
                  </div>
            </div>
          </div>
        <div class="row mt-3">
          <div class="col-md-8">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                 
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2">MRP</label>
                    <input type="text" class="form-control col-sm-4" formControlName="mrp">
  
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2">P.Price</label>
                    <input type="text" class="form-control col-sm-4" formControlName="purchasePrice">
  
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2">O. Stock</label>
                    <input type="text" class="form-control col-sm-4" formControlName="openingStock"
                      [ngClass]="{'is-invalid': !f.openingStock.valid && (f.openingStock.dirty || f.openingStock.touched || isSubmit)}">
  
                  </div>
                
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" (click)="add();">Save</button>&nbsp;
      <button class="btn btn-sm btn-secondary" routerLink="../locations">Cancel</button>
    </div>
  </div>