<div class="card card-noborder">
    <div class="card-header no-border">
      <div class="row">
        <div class="col-md-2"><h4>Invoices</h4></div>
        <div class="col-md-10 text-right">
          <button class="btn btn-sm btn-primary pull-right" style="float: right;" routerLink="./add">Add</button>
        </div>
      </div>      
      
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table datatable class="table nowrap table-hover">
          <thead>
            <tr>
              <th>Invoice#</th>
              <th>Customer</th>
              <th>Tax Amout</th>
              <th>Amout</th>
              <th>Mobile</th>
              <th>Date</th>
              <th width="20"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of rows">
             
              <td>{{d.invoice_no}}</td>
              <td>{{ d.name}}</td>
              <td>{{d.tax_amount}}</td>
              <td>{{d.amount}}</td>
              <td>{{d.mobile}}</td>
              <td>{{d.dates}}</td>
             
              <th width="20"></th>
              
            </tr>
  
          </tbody>
  
        </table>
      </div>
    </div>
</div>