
<div class="ng-autocomplete"  >
    <ng-autocomplete [data]="data" [searchKeyword]="keyword"
        placeHolder="Search item"  
        (selected)='selectItemEvent($event)'
        (inputChanged)='onItemChangeSearch($event)'
        (inputFocused)='onItemFocused($event)' [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundItemTemplate" minQueryLength="3"
        [debounceTime]="100"    >
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
    </ng-template>
    <ng-template #notFoundItemTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
    </ng-template>
    </div>