<div class="card card-noborder">
    <div class="card-header header-custom">
        <h4>
        {{ updateId ? 'Update' : 'Add'}} HSN
        </h4>
    </div>
    <div class="card-body card-section">
        <form [formGroup]="form" class="editForm" novalidate>
            <div class="row">

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Code</label>
                                <input type="text" class="form-control col-sm-3" formControlName="code">

                                <!--[ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}" 
                 <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid password.</label> -->
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Name</label>
                                <input type="text" class="form-control col-sm-3" formControlName="name">

                                <!--[ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}" 
                 <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid password.</label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">

        <button class="btn btn-sm btn-primary" (click)="save()">Save</button>&nbsp;
        <button class="btn btn-sm btn-secondary" routerLink="/admin/masters/hsn">Cancel</button>
    </div>
</div>