<div class="card">
    <div class="card-header">
        <h4>New Item</h4>
    </div>
    <div class="card-body pt-0">
        <form [formGroup]="form" class="editForm" novalidate>
            <div class="row pt-3 card-section">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"><label class="form-control-label" for="email">Type</label></div>
                            <div class="col-md-1">
                                <input class="form-check-input" type="radio" name="typeId" id="gridRadios1" value="1"
                                    checked formControlName="typeId">
                                <label class="form-check-label" for="gridRadios1">Goods</label>
                            </div>
                            <div class="col-md-1">
                                <input class="form-check-input" type="radio" name="typeId" id="gridRadios2" value="2"
                                    formControlName="typeId">
                                <label class="form-check-label" for="gridRadios2">Service</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mt-3">

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-2">Name</label>
                                        <input type="text" class="form-control col-sm-3" formControlName="name"
                                            [ngClass]="{'is-invalid': !f.name.valid && (f.name.dirty || f.name.touched || isSubmit)}">

                                        <!--[ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}" 
                     <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid password.</label> -->
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-2">Code</label>
                                        <input type="text" class="form-control col-sm-3" formControlName="code"
                                            [ngClass]="{'is-invalid': !f.code.valid && (f.code.dirty || f.code.touched || isSubmit)}">

                                        <!--[ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}" 
                     <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid password.</label> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-3">

                <div class="col-md-8">
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Unit</label>
                                <select class="form-control  col-sm-4" formControlName="unitid"
                                    [ngClass]="{'is-invalid': !f.unitid.valid && (f.unitid.dirty || f.unitid.touched || isSubmit)}">
                                    <option *ngFor="let d of units" value="{{d.id}}">{{d.name}}</option>
                                </select>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Description</label>
                                <input type="text" class="form-control col-sm-5" formControlName="description">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Tax Category</label>
                                <select class="form-control  col-sm-4" formControlName="unitid"
                                    [ngClass]="{'is-invalid': !f.unitid.valid && (f.unitid.dirty || f.unitid.touched || isSubmit)}">
                                    <option *ngFor="let d of units" value="{{d.id}}">{{d.name}}</option>
                                </select>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Company</label>
                                <input type="text" class="form-control col-sm-5" formControlName="description">

                            </div>
                        </div>
                    </div>


                    <!--[ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}" 
                 <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid password.</label> -->


                </div>
            </div>
            <!-- <div class="row hide">

                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">


                                <label class="col-form-label col-sm-4">Name</label>

                                <input type="password" class="form-control col-sm-4" >

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Name</label>
                                <input type="password" class="form-control col-sm-4" >

                            </div>
                        </div>
                    </div>



                   

                </div>
            </div> -->
        </form>
    </div>
    <div class="card-footer">

        <button class="btn btn-sm btn-primary" (click)="add();">Save</button>&nbsp;
        <button class="btn btn-sm btn-secondary" routerLink="../">Cancel</button>
    </div>
</div>