.form-control {
  display: block;
  width: 100%;
  height: calc(1.0em + 1.0rem + 4px);
  padding: 0.325rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group{margin-bottom: 0px;}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.325rem 0.8rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
}
.card-noborder{border-top: none;}
.card-section{background-color: #f3f3f3;}

.no-border{border-bottom: none !important;}
 