<div class="row btn-page">
    <div class="col-sm-12">
        <app-card cardTitle="Manage Category" [options]="false">
            <div class="col-sm-12 text-right customCardActions">
                <button class="btn btn-success btn-sm btn-round has-ripple" (click)="openModal(categoryModal)"><i
                        class="feather icon-plus"></i>
                    Add Category
                </button>
            </div>

            <div class="table-responsive p-t-20">
                <table datatable id="project-1" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Category Code</th>
                            <th>Description</th>
                            <th width="10">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="has-row-options odd" role="row" *ngFor="let d of rows">
                            <td>{{d.name}}</td>
                            <td>{{d.code}}</td>
                            <td>{{d.description}}</td>
                            <td>
                                <!-- <button class="btn btn-sm bg-transparent">
                                    <i class="fas fa-trash-alt"></i>
                                </button> -->
                                <button class="btn btn-sm bg-transparent" (click)="edit(d,categoryModal);">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
        </app-card>
    </div>
</div>
<ng-template #categoryModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">
            <span *ngIf="f.id.value==0">Add Category</span>
            <span *ngIf="f.id.value>0">Update Category</span>
        </h5>
        <button type="button" class="btn btn-sm bg-transparent" (click)="closeModal()"><i
                class="fas fa-times"></i></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" class="editForm" novalidate>
            <div class="row card-section p-t-20 p-b-20">
                <div class="col-md-11 m-l-5">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4">Category Name</label>
                        <input type="text" class="form-control col-md-8" formControlName="name"
                            [ngClass]="{'is-invalid': !f.name.valid && (f.name.dirty || f.name.touched || isSubmit)}">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-4">Category Code</label>
                        <input type="text" class="form-control col-md-8" formControlName="code"
                            [ngClass]="{'is-invalid': !f.code.valid && (f.code.dirty || f.code.touched || isSubmit)}">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-4">Description</label>
                        <textarea class="form-control col-md-8" formControlName="description"
                            [ngClass]="{'is-invalid': !f.description.valid && (f.description.dirty || f.description.touched || isSubmit)}">
                    </textarea>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="save();">Save</button>&nbsp;
        <button class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="closeModal()"
            >Cancel</button>
    </div>
</ng-template>