<div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1">
        <div class="h-100 d-md-flex align-items-center auth-side-img">
            <div class="col-sm-10 auth-content w-auto">
                <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid">
                <h1 class="text-white my-4">Welcome!</h1>
                <h4 class="text-white font-weight-normal">Register your organization.<br /></h4>
            </div>
        </div>
        <div class="auth-side-form">
            <div class=" auth-content">
                <img src="assets/images/auth/auth-logo-dark.png" alt=""
                    class="img-fluid mb-4 d-block d-xl-none d-lg-none">
                <h4 class="mb-3 f-w-400">Enter your OTP</h4>
                <form [formGroup]="form" class="editForm" novalidate>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control text-center" placeholder="OTP" formControlName="otp"
                            [ngClass]="{'is-invalid': !f.otp.valid && (f.otp.dirty || f.otp.touched || isSubmit)}">
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <button class="btn btn-sm btn-info btn-block  mb-4" routerLink="../">Return</button></div>
                        <div class="col-md-6">
                            <button class="btn btn-sm btn-primary btn-block  mb-4" (click)="verify();">Verify</button>
                        </div>

                    </div>
                    <!-- 9811224807 -->

                </form>
                <div class="text-center">

                </div>
            </div>
        </div>
    </div>
</div>