<div class="auth-wrapper align-items-stretch aut-bg-img">
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img">
      <div class="col-sm-10 auth-content w-auto">
        <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid">
        <h1 class="text-white my-4">Welcome!</h1>
        <h4 class="text-white font-weight-normal">Register your organization.<br /></h4>
      </div>
    </div>
    <div class="auth-side-form">
      <div class=" auth-content">
        <img src="assets/images/auth/auth-logo-dark.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
        <h4 class="mb-3 f-w-400">Sign up</h4>
        <form [formGroup]="form"  class="editForm">
          <div class="input-group mb-3">
            <select class="form-control" formControlName="typeId"
              [ngClass]="{'is-invalid': !f.typeId.valid && (f.typeId.dirty || f.typeId.touched || isSubmit)}">
              <option value="1">Chemist</option>
              <option value="2">FMCG</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Company name" formControlName="name"
            [ngClass]="{'is-invalid': !f.name.valid && (f.name.dirty || f.name.touched || isSubmit)}">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your name" formControlName="contactName"
            [ngClass]="{'is-invalid': !f.contactName.valid && (f.contactName.dirty || f.contactName.touched || isSubmit)}">
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email address" formControlName="email"
            [ngClass]="{'is-invalid': !f.email.valid && (f.email.dirty || f.email.touched || isSubmit)}">
          </div>
          <div class="input-group mb-3">
            <input type="phone" class="form-control" placeholder="Mobile number" formControlName="phone"
            [ngClass]="{'is-invalid': !f.phone.valid && (f.phone.dirty || f.phone.touched || isSubmit)}">
          </div>

      
        </form>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-info btn-block mb-4" [routerLink]="['/auth/signin']" >Login</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary btn-block mb-4" (click)="signUp()">Start</button>
          </div>
        </div>
       
       
        <div class="text-center">

          <!-- <div class="saprator my-4"><span>OR</span></div>
          <button class="btn text-white bg-facebook mb-2 mr-2  wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-facebook-f"></i></button>
          <button class="btn text-white bg-googleplus mb-2 mr-2 wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-google-plus-g"></i></button>
          <button class="btn text-white bg-twitter mb-2  wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-twitter"></i></button>
          <p class="mt-4">Already have an account? <a [routerLink]="['/auth/signin-v2']" class="f-w-400">Signin</a></p> -->
        </div>
      </div>
    </div>
  </div>
</div>