<div class="row btn-page">
    <div class="col-sm-12">
        <app-card cardTitle="Contact Us" [options]="false">
            <div class="table-responsive p-t-20">
                <table datatable id="project-1" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="has-row-options odd" role="row" *ngFor="let d of rows">
                            <td>{{d.name}}</td>
                            <td>{{d.email}}</td>
                            <td>{{d.subject}}</td>
                            <td>{{d.message}}</td>
                            <td>{{d.createdDate | date :'dd/MM/yyyy hh:mm:ss a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
        </app-card>
    </div>
</div>