<div class="card card-noborder">
    <div class="card-header no-border">
      <div class="row">
        <div class="col-md-2"><h4>Locations</h4></div>
        <div class="col-md-10 text-right">
          <button class="btn btn-sm btn-primary pull-right" style="float: right;" routerLink="./add">Add</button>
        </div>
      </div>      
      
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table datatable class="table nowrap table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Items</th>
              <th width="20"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of rows">
             
              <td>{{d.name}}</td>
              <td>{{ d.address2 ? (d.address1 + "," + d.address2) : d.address1}}</td>
              <td>{{d.city}}</td>
              <td>{{d.state}}</td>
              <td>{{d.phone}}</td>
              <td>{{d.email}}</td>
              <th>
               <a routerLink="../locItems"> <i class="fa fa-list"></i></a>
              </th>
              <td>
                <button class="btn btn-sm btn-primary" routerLink="update/{{d.id}}" [state]="getJsonStr(d)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </td>
              
            </tr>
  
          </tbody>
  
        </table>
      </div>
    </div>
</div>